.new-friend-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    max-width: 600px;
    width: 100%;
    height: 600px;

    .new-friend-form {
        color: #7bff00;
        max-width: 600px;
        width: 100%;
        margin: auto;
        margin-top: 10%;
        padding: 0 40px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        input {
            height: 2rem;
            width: 100%;
            margin: 10px 0;
            background: transparent;
            color: #7bff00;
            border: 1px solid #316600;
            box-shadow: 1px 1px 2px gray;
            font-family: 'Share Tech Mono', monospace;
            &:focus {
                border: 1px solid #7bff00;
                box-shadow: 1px 1px 2px white;
            }

        }
        button {
            cursor: pointer;
            height: 2rem;
            width: 40%;
            margin: 10px 0;
            background: black;
            color: #7bff00;
            font-family: 'Share Tech Mono', monospace;
            border: 1px solid #316600;
            box-shadow: 1px 1px 2px gray;
            &:hover {
                border: 1px solid #7bff00;
                box-shadow: 1px 1px 2px white;
            }
            
            // Needed for Link styling
            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #7bff00;
            }
        }
    }
}