.friend-card {
    max-width:   400px;
    width:       100%;
    border:      1px solid #316600;
    box-shadow:  1px 1px 2px gray;
    margin:      40px;
    

    // Master Styling for all inputs
    input {
        background:      transparent;
        color:           #7bff00;
        border:          none;
        border-top:      1px solid #316600;
        border-bottom:   1px solid #316600;
        font-family:     'Share Tech Mono', monospace;

        &:focus {
            border:          none;
            border-top:      1px solid #7bff00;
            border-bottom:   1px solid #7bff00;
        }

        // when read-only
        &:read-only {
            border:      1px solid black;
            box-shadow:  none;
        }
    }


    // <div> that contains both buttons and friend's name input
    .top-row {
        margin-block-start:  1em;
        margin-block-end:    1em;
        position:            relative;
        display:             flex;
        justify-content:     center;
        
        // Styling for Friend's name <input>
        input {
            font-size:     1.17em;
            font-weight:   bold;
            text-align:    center;
        }

        // Styling for span buttons
        .hover {
            cursor:            pointer;
            font-size:         1.17em;
            font-weight:       bold;
            display:           none;
            margin-top:        -10px;
            position:          absolute;
            top:               0;

            &:last-of-type{
                right:         0;
                margin-right:  10px;
            }
            &:first-of-type{
                left:          0;
                margin-left:   10px;
            }
            &:hover {
                text-shadow:   0px 0px 2px white;
            }
        }
    }
    &:hover {
        .hover {display: block;}
    }

    ul {
        list-style:          none;
        text-align:          left;
        padding-left:        10px;

        li {
            margin:          3px 0;

            input {
                font-size:   100%;
            }
        }
    }
}