.main-container {
    margin: 0 auto;
    margin-bottom: 100px;

    h1 {
        font-family: 'Share Tech Mono', monospace;
        color: #7bff00;
    }

    .friend-container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: space-between;

        
    }  
}

